<!DOCTYPE html>
<html>
<head>
  <style>

  .center {
    margin: auto;
    text-align: center;
  }

  .logo {
    padding: 1em 1em 0em 1em;
    width: 10em;
    height: 10em;
  }

  .red_background {
    background-color: #FF0000
   }

  .yellow_background {
    background-color: #FFFF00
   }

  .green_background {
    background-color: #00FF00
   }

  .main_background {
    background-color: #000000
   }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="src/index.js"> </script>
</head>
<body class="main_background">

<table class="center">
  <tr>
    <td>
      <a href="https://www.netflix.com">
        <img class="logo" src="img/netflix.svg"/>
        <p class="center">Netflix</p>
      </a>
    </td>
    <td>
      <a href="https://www.youtube.com">
        <img class="logo" src="img/youtube.png"/>
        <p class="center">Youtube</p>
      </a>
    </td>
    <td>
      <a href="https://www.disneyplus.com">
        <img class="logo" src="img/disney_plus.svg"/>
        <p class="center">Disney+</p>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://www.ardmediathek.de">
        <img class="logo" src="img/ard.png"/>
        <p class="center">ARD</p>
      </a>
    </td>
    <td>
      <a href="https://www.zdf.de/">
        <img class="logo" src="img/zdf.svg"/>
        <p class="center">ZDF</p>
      </a>
    </td>
    <td>
      <a href="https://www.arte.tv/de/">
        <img class="logo" src="img/arte.png"/>
        <p class="center">arte</p>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://www.raiplay.it/">
        <img class="logo" src="img/rai.svg"/>
        <p class="center">Rai</p>
      </a>
    </td>
    <td>
      <a href="https://video.prosieben.de/serien/germanys-next-topmodel-by-heidi-klum" >
        <img class="logo" src="img/pro_sieben.svg"/>
        <p class="center">ProSieben</p>
      </a>
    </td>
    <td>
      <a href="https://de.hgtv.com/" >
        <img class="logo" src="img/hgtv.png"/>
        <p class="center">HGTV</p>
      </a>
    </td>
    <td> 
      <a href="https://www.bayern3.de/">
        <img class="logo" src="img/bayern_3.svg"/>
        <p class="center">Bayern 3</p>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="#todo" id="vpn_IT" >
        <img class="logo" id="vpn_IT_img" src="img/vpn.png"/>
        <p class="center">VPN Italy</p>
      </a>
    </td>
    <td>
      <a href="#todo" id="vpn_DE" >
        <img class="logo" id="vpn_DE_img" src="img/vpn.png"/>
        <p class="center">VPN Germany</p>
      </a>
    </td>
  </tr>
</table>

</body>
</html>


